header {
    width: 100%;
}

#line {
    position: absolute;
    position: fixed;
    height: 768px;
    left: 518px;
}

.hour {
    font-size: 18px;
}

.NTT_num,
.label {
    background-color: #FFEEDB;
    border: 1px solid #000;
    width: 113px;
}

.NTT_main_label:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 102%;
    height: 104%;
    border: 1px solid #000;
}

.NTT_num {
    position: sticky;
    left: 41px;
    text-align: center;
}

.NTT_num:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 103%;
    height: 104%;
    border: 1px solid #000;
}

.NTT_gp>.label:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 104%;
    height: 101.5%;
    border: 1px solid #000;
}

.label,
.F_label,
.F_main_label {
    position: sticky;
    left: 0;
    vertical-align: middle;
}

.fsat {
    position: sticky;
    left: 44px;
    border: 1px solid #000;
    text-align: center;
}

.fsat:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 103%;
    height: 104%;
    border: 1px solid #000;
}

.F_label:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 104%;
    height: 100.6%;
    border: 1px solid #000;
}

td {
    border-bottom: 1px solid #000;
}

.NTT_container {
    margin-bottom: 20px;
    position: relative;
}

.NTT_gp>td,
.FSAT_gp>td {
    border-right: 1px dotted #BBBBBB;
}

.FSAT_container {
    margin-bottom: 20px;
    position: relative;
}

.F_label {
    background-color: #867AE9;
    border: 1px solid #000;
}

.F_main_label {
    border: 1px solid #000;
}

.F_main_label:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 102%;
    height: 104%;
    border: 1px solid #000;
}

.fsat,
.F_main_label {
    background-color: #867AE9;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#my-canvas {
    border: 3px solid #000;
}

fooder {
    font-family: Comic Sans MS;
    font-size: 25px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #000;
    width: 100%;
    background-color: #FDFAF6;
    text-align: center;
    padding: 15px 0;
}

.date {
    font-size: 15px;
    margin-left: 50px;
    text-align: center;
}

.time {
    font-size: 15px;
    margin-left: 50px;
    text-align: center;
}

.note {
    position: fixed;
    margin-top: 100px;
}
